<section class="container">
    <div class="row">
        <div class="row col-md-3 main-panel">
            <div ng-repeat="group in channel_groups">
                <div class="row">
                    <div class="col-md-12 channel_groups">{{group.name}}</div>
                    <br>
                </div>
                <div class="row col-md-12 center-block group_channels">
                    <div ng-repeat="channel in channels | containid : { targetvalue : group.id }"
                         style="display: inline-block">
                        <a ui-sref-active="active" ui-sref="index.play_video" class="btn">
                            <img class="img-responsive img-thumbnail" src="img/logos/{{ channel.id }}.png"
                                 style="max-width: 100px; max-height: 100px;">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-md-8 main-panel">
            <div ui-view></div>
        </div>
    </div>
</section>