<section class="container">
    <div class="row">
        <div class="row col-md-3 main-panel">
            <my-channels></my-channels>
        </div>
        <div class="row col-md-8 main-panel">
            <div id="player"></div>
            <script type="text/javascript">
                jwplayer("player").setup({
                    file: "rtmp://203.205.0.60:1935/live/canhac",
                    image: "http://www.longtailvideo.com/jw/upload/bunny.jpg",
                    flashplayer: "jwplayer.flash.swf",
                    volume: 80,
                    width: 465,
                    stretching: 'fill'
                });
            </script>
        </div>
    </div>
</section>